<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
<div class="div_left"></div>
<h2>
    <i class="fa-solid fa-house-chimney-medical"></i> Hospital Appointment System
</h2>

<div class="div_center">
    <form action="/" method="POST">

        <input type="text" id="name" name="inputName" placeholder="Name" required>
        <input type="password" id="password" name="inputPassword" placeholder="Password" required>
        <input type="text" id="id" name="inputID" placeholder="ID No" maxlength="11" minlength="11" required>
        <div>
            <input type="submit" value="Submit" class="input_button">
            <input type="reset" value="Delete" class="input_button">
        </div>
    </form>
</div>

    <footer class="footer1">
        <p><strong>Contact </strong> <br> Num1: 0212 545 54 54 <br> Num2: 0212 655 64 64</p>
        <p><strong> Adress </strong> <br>
            Necmettin Bey Mah. Yılmaz Efendi Sokak Zartan Eczanesi Karşısı. Levent/İstanbul.</p>
        <p><strong> &copy; 2025 Hospital Appointment System </strong> </p>
    </footer>

</body>
</html>